<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class = "main-container">
            <div class="flex-container">
                <div class= "menu item1">Home</div>
                <div class= "menu item2">About</div>
                <div class= "menu item3">Contact</div>

            </div>
            
            <div class="image-container">
                <img id="banner-image" src="https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" >
                <div class="banner-title">Prince Sudhanshu</div>
                <div class="banner-subtitle">CPP and Web Development</div>
            </div>

            <div class="skill-heading">
                <div class="skill-title">
                    MY SKILLS
                </div>

            </div>


            <div class="skill-container">
                <div class = "skill1">
                    <div class="image">
                        <img id="image" src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/html5-512.png">
                    </div>
                    <div id="skill-text" class="text">
                        HTML5
                    </div>
                </div>

                <div class = "skill2">
                    <div class="image">
                        <img id="image" src="https://cdn0.iconfinder.com/data/icons/file-format-programming-language-scripts-glyph-1/64/file_format_document-15-512.png">
                    </div>
                    <div id="skill-text" class="text">
                        CPP
                    </div>
                </div>

                <div class = "skill1">
                    <div class="image">
                        <img id="image" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/android-128.png">
                    </div>
                    <div id="skill-text" class="text">
                        Android 
                    </div>
                </div>

                

            </div>


            <div class="portfolio-heading">
                <div class="portfolio-title">
                    Previous Work
                </div>
            </div>
            <hr>
            <div class="portfolio-container">
                <div class="portfolio-image">
                    <img id="portfolioimg" src="https://searchengineland.com/figz/wp-content/seloads/2015/07/apps-mobile-smartphone-ss-1920-800x450.jpg">
                </div>
                 <div class="portfolio-desc">
                     <div class="portfolio-name">
                         Social Media Apps                         
                     </div>
                     <div class="portfolio-info">
                         This is a normal messaging app.
                     </div>


                 </div>
            </div>
            
            <div class="portfolio-heading">
                <div class="portfolio-title">
                   Client Testimonial
                </div>
            </div>
            <hr>

            <div class="testimonial">
                <div class="client-name"></div>
                <div class="client-designation">No client Yet</div>
                <div class="client-testimonial"></div>
            </div>



        </div>


       
        



    </body>
</html>